header#many-offers-main-nav
    @include flexColumn(true)
    margin-top: 20px
    padding: 30px 30px 80px 30px
    background-color: $beige
    position: relative
    z-index: 5
    //
    h1,section#categories-wrap,section#organization
        position: relative
        z-index: 3
    section#categories-wrap,section#organization
        display: flex
        justify-content: center
        max-width: 1200px
        flex-wrap: wrap
    //
    @import ./categories
    @import ./organization
    //
//
// TRANSITIONS AND COLORS
//
header#many-offers-main-nav
    &::after
        content: ''
        position: absolute
        width: 100%
        height: 20px
        left: 0%
        bottom: 0
        background-color: #fff
    span.background
        @include absoluteFull
        background-size: cover
        opacity: 0
        animation: bg-img-going-vertically 30s linear infinite both alternate-reverse
        transition: background-image .5s .3s, opacity .5s .7s
    &.displayBackground
        span.background
            opacity: .15