section#summary
    cursor: default
    overflow: hidden
    @import ./my_opinion/myOpinion
    @import ./visit
    @import ./managament
    //
    section#user-visit,section#my-opinion,section#user-management
        padding: 20px
        box-sizing: border-box
        background-color: #fff
        border-radius: 5px
        @media screen and ( max-width: 1200px )
            padding: 10px
            
    //
    section#user-visit,section#user-management
        margin-bottom: 20px
    //
    //
    //
    @media screen and ( max-width: 1200px )
        width: 350px
        section#user-visit
            div.avatar
                height: 300px
    //
    @media screen and ( max-width: 1100px )
        section#my-opinion
            margin-bottom: 15px