div.offers-wrap.GRID
    div.single-offer
        @include flexColumn
        align-items: center
        width: 33.3333%
        box-sizing: border-box
        border-top: 30px solid #eee
        border-left: 30px solid #eee
        border-right: 30px solid #eee
        border-bottom: 70px solid #eee
        background-color: #fff
        h5,div.follow-price
            width: 100%
            display: flex
            align-items: center
        h5  
            background-color: $mainColorDark
            color: #fff
            flex-grow: 1
            font-size: 1rem
            &::after
                content: ''
                position: absolute
                top: 50%
                left: 10px
                transform: translateY(-50%)
                width: 8px
                height: 70%
                border: $mainColor 2px solid
        div.follow-price
            padding: 10px
            justify-content: space-between
            box-sizing: border-box
        a.img
            width: 100%
            min-height: 300px
            div.img
                box-sizing: border-box
                div.one,div.two
                    border: 10px solid #fff
                    box-sizing: border-box
        footer
            padding: 10px 5px
            span.category
                font-size: .8rem
            a
                text-decoration: none
    //
    //
    //
    div.single-offer
        @media screen and ( max-width: 1200px )
            border-top: 20px solid #eee
            border-left: 20px solid #eee
            border-right: 20px solid #eee
            border-bottom: 50px solid #eee
        //
        @media screen and ( max-width: 1000px )
            width: 50%
            a.img
                height: 350px
        //
        @media screen and ( max-width: 850px )
            a.img
                height: 300px
        //
        @media screen and ( max-width: 700px )
            max-width: 600px
            margin: 0 auto
            width: 100%
            a.img
                height: 400px
        //
        @media screen and ( max-width: 600px )
            a.img
                height: 350px
        @media screen and ( max-width: 450px )
            a.img
                height: 300px