section#create-offer
    background-color: #eee
    min-height: calc( 100vh - 80px )
    padding-top: 20px
    div#main-content
        box-sizing: border-box
        max-width: 1400px
        margin: 0 auto
        section.field
            background-color: #fff
            padding: 20px
            border-radius: 5px