header.main-offer-header
    display: flex
    width: 100%
    justify-content: space-between
    flex-direction: row-reverse
    align-items: flex-end
    position: sticky
    top: 75px
    z-index: 100
    padding: 10px
    padding-top: 50px
    background-color: #fff
    div.price
        background-color: $mainColorDark
        color: #fff
        font-size: 1.5rem
        padding: 5px 30px
        span.currency
            margin-left: 10px
            color: $mainColor
            font-weight: bold
    div.date-and-follow
        letter-spacing: 2px
        font-size: 1.2rem
        @include flexColumn
        align-items: flex-start
        span
            margin-right: 10px
        button
            @include buttonStyles
            font-size: 1rem
            margin-bottom: 10px
            svg
                margin-right: 10px
                transition: color .3s
        button.following
            @include smoothHover($mainColorDark)
            svg
                color: $mainColorDark
            &:hover
                svg
                    color: #fff
        button.follow
            @include smoothHoverReversed($mainColorDark)
            svg
                color: $mainColor