section#offer-data
    @import ./header
    @import ./recommendations
//
//
//
section#offer-data
    @include flexColumn
    align-items: flex-end
    text-align: left
    cursor: default
    background-color: #fff
    div.img-wrap
        width: 100%
        height: 600px
        position: sticky
        top: 270px
        box-sizing: border-box
        border-radius: 5px
        padding: 20px 0
        border-bottom: 20px solid #eee
        background-color: #fff
        div.img
            width: 100%
            height: 100%
            background-position: center
            background-repeat: no-repeat
            background-size: contain
            transition: background-image .3s
        span.status
            color: #fff
            position: absolute
            top: 0
            left: 0
            padding: 5px 10px
            font-size: 1.5rem
            &.DEFAULT
                display: none
            &.SOLD
                background-color: $green
            &.BANNED
                background-color: $red
            &.HIDDEN
                background-color: $mainColorDark
                

        label
            @include textUS
            position: absolute
            top: 5px
            right: 15px
            padding: 5px 30px
            border: 2px solid $mainColor
            background-color: #fff
        button
            @include buttonStyles
            @include smoothHover
            @include flexCenter
            position: absolute
            transform: translateY(-50%)
            font-size: 3rem
            padding: 5px
            &.next
                top: 50%
                right: 15px
            &.previous
                top: 50%
                left: 15px
        button.preview
            bottom: 5px
            right: 15px
            font-size: 1.8rem
            padding: 5px
    
    section#content,section#recommendations
        @include flexColumn
        align-items: flex-end
        text-align: left
        position: relative
        z-index: 5
        background-color: #eee
    section#content
        @include flexColumn
        align-items: flex-start
        position: relative
        z-index: 5
        background-color: #fff
        margin-top: 50px
        padding-bottom: 50px
        padding: 20px
        box-sizing: border-box
        border-radius: 5px
        h1.title
            font-size: 3rem
        h4.label
            margin: 20px 0 10px 0
            letter-spacing: 2px
            font-size: 1.5rem
        p
            margin: 0
            letter-spacing: 2px
            padding-left: 15px
            position: relative
            &::after
                content: ''
                height: 100%
                width: 4px
                left: 0
                top: 0
                background-color: $mainColor
                position: absolute
        //
        ul
            letter-spacing: 2px
            display: flex
            flex-wrap: wrap
            list-style: none
            padding: 0 50px
            box-sizing: border-box
            justify-content: space-between
            margin: 0
            width: 100%
            li
                position: relative
                margin-bottom: 10px
                padding-left: 30px
                box-sizing: border-box
                width: 40%
                text-align: left
                strong
                    margin-right: 10px
                    &::first-letter
                        text-transform: uppercase
                &::after
                    content: ''
                    height: 12px
                    width: 12px
                    transform: translateY(-50%) rotate(45deg)
                    left: 0
                    top: 50%
                    background-color: $mainColor
                    position: absolute
        ul.adventages
            width: 100%
            li
                width: 45%
    //
    //
    //
    @media screen and ( max-width: 1000px )
        div.img-wrap
            top: 75px
    //
    //
    //
    @media screen and ( max-width: 700px )
        div.img-wrap
            height: 500px
        section#content
            h1.title
                font-size: 2.5rem
                margin: 0 0 30px 0
            ul,ul.adventages
                width: 100%
                padding: 0 20px
                li
                    width: 100%
    //
    //
    //
    @media screen and ( max-width: 550px )
        div.img-wrap
            height: 400px
    //
    //
    //
    @media screen and ( max-width: 450px )
        section#content
            padding: 10px
            h1.title
                font-size: 2rem
            h4.label
                font-size: 1.3rem
            p
                padding-left: 0
                &::after
                    display: none
            ul,ul.adventages
                padding: 0