section#display-single-offer
    display: flex
    justify-content: space-between
    align-items: flex-start
    max-width: 1400px
    width: 95vw
    margin: 0px auto 0 auto
    position: relative
    section#offer-data
        width: 65%
    section#dealer
        width: 28%
    //
    @import ./dealer
    @import ./offer/offer