section#main-navigation
    background-color: $mainColorDark
    position: fixed
    top: 0
    left: 0
    height: $navHeight
    width: 100vw
    z-index: $navZIndex
    box-shadow: 0px 0px 1px 0px $mainColor
    display: flex
    justify-content: space-between
    padding: 0 15%
    align-items: center
    box-sizing: border-box
    a.main-logo,
    button.mobile-toggler
        position: relative
        z-index: 5
    //
    button.mobile-toggler
        display: none
    //    
    a.main-logo
        font-size: 2rem
        color: $mainColor
        font-weight: bold
        text-decoration: none
        user-select: none
    div.wrap
        display: flex
        align-items: center
        input
            @include coloredFocus(false)
            letter-spacing: 2px
            padding: 5px 10px
            border-radius: 5px 
            border: 2px solid #fff
            transition: all .3s
            width: 200px
            &:focus
                background-color: $mainColorDark
                color: #fff
        a
            @include flexCenter
            margin-left: 20px
            color: #fff
            text-decoration: none
            letter-spacing: 2px
            font-size: 1.2rem
            svg
                margin-left: 10px
        //
        //
        //
        div.auth
            margin-left: 50px
            display: flex
            align-items: center
            a.icon
                display: block
                @include confBgImg
                width: 50px
                height: 50px
                margin-right: 10px
                border-radius: 50%
                border: 2px solid $mainColor
                position: relative
            span.signed-info
                @include textUS
                color: #fff
                letter-spacing: 1px
                strong
                    color: $mainColor
            a.in,a.up
                @include buttonStyles(false)
                user-select: none
                border: 2px solid #fff !important
                border-radius: 5px
            a.in
                @include smoothHoverReversed($mainColorDark)
            a.up
                @include smoothHover($mainColorDark)
    //
    @media screen and ( max-width: 1650px )
        padding: 0 5%
    @media screen and ( max-width: 1300px )
        span.signed-info
            display: none
    @media screen and ( max-width: 1000px )
        button.mobile-toggler
            @include smoothHoverReversed($mainColor)
            @include flexCenter
            display: block
            width: 45px
            height: 45px
            svg
                font-size: 1.5rem
        div.wrap.mobileDevelop
            transform: translateX(0%)
        div.wrap
            @include flexCenter
            position: fixed
            width: 100%
            top: 0
            left: 0
            height: 100vh
            background-color: $mainColorDark
            transform: translateX(100%)
            transition: transform .3s
            a
                margin-left: 0
                margin-top: 30px
            div.auth
                @include flexColumn
                margin-left: 0
                a.in,a.up
                    max-width: 90vw
                    width: 350px
                    padding: 10px 0
            span.signed-info
                display: block
                margin-bottom: 50px
                font-size: 1.2rem
            span.signed-info,a.icon
                order: -1